body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: 'arial';
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
    gap: 10px;
}

.logoIcon {
    width: 26px;
    height: 26px;
    color: rgb(145, 145, 226); /* adjust however you like */
}

.warningDiv{
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(245, 95, 95, 0.377);
    color: red;
    font-size: 16px;
    font-weight: 200;
    border: 0.5px solid red;
    border-radius: 8px;
    cursor: pointer;
}

.warningDiv .text{
    color: red;
}